.wrapper{
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-flow: row;
}
.item-list{
    display: inline-block;
    width: fit-content;
    height: 100%;
    font-display: auto;
    list-style: none;
}
.item{
    color: #691f1f;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    margin: 0 0 10px 0;
    border: 1px solid #691f1f;
    border-radius: 5px;
    background-color: #f2f2f2;
}
.sidebar{
    width: 200px;
    height: 100%;
    background-color: #390505;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow-y: hidden;
}
.open{
    display: block;
}
.navbar{
    width: 100%;
    height: 50px;
    background-color: #f2f2f2;
    position: fixed;
    top: 0;
    left: 0;
}